* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(192, 201, 230);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*Primeira Parte (Cabeçalho)*/

hr {
    width: 100%;
    height: 1px;
    background-color: black;
    margin-top: 20px;
}

header {
    /*border: 1px solid;*/
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-right: 5px;
}

#div_logotipo {
    /*border: 1px solid;*/
    width: 150px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#div_logotipo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

nav {
    /*border: 1px solid;*/
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    display: flex;
    flex-direction: row
}

nav ul li {
    margin-left: 10px;
    margin-right: 10px;
    list-style: none;
    font-size: 20px;
}


nav ul li a {
    text-decoration: none;
    color: royalblue;
    transition: 0.5s;
}

nav ul li a:hover {
    font-size: 21px;
    color: rgb(24, 62, 173);
}

/*Segunda Parte (Section)*/

section {
    /*border: 1px solid;*/
    margin-top: 20px;
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
}

section h2 {
    margin-bottom: 10px;
}

section hr {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}

#section_video {
    width: 55vw;
    height: 30vw;
    align-self: center;
    justify-self: center;
}

#section_maps {
    width: 50vw;
    height: 30vw;
    align-self: center;
    justify-self: center;
}

/*Terceira parte (Footer)*/

footer {
    width: 100%;
    margin-top: 30px;
    background-color: royalblue;
}

#div_logo_footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#div_logo_footer img {
    width: 50px;
    height: 50px;
    margin: 5px;
}

#div_redes_sociais_footer ul {
    list-style: none;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#div_redes_sociais_footer ul li {
    width: 100%;
    margin: 1px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#div_redes_sociais_footer ul li img {
    width: 20px;
    height: 20px;
    margin: 5px;
}

#div_redes_sociais_footer a {
    text-decoration: none;
}